# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Environment variables
.env
.env.jenkins
.env.jenkins-ubuntu

# Logs
*.log

# Temporary files
*.tmp
temp/

# learning oriented file
docker.output

# macOS system file
.DS_Store

# claude
CLAUDE.md

# old files
*.old

*.pdf